<link rel="stylesheet" href="/css/footer.css">
  <footer>
    <div class="f-info">
      <div class="f-info-socials">
        <a href="https://www.facebook.com/profile.php?id=100014537138957" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/nitin.kumar.01?igsh=MW9vMHNyNDVieG9sOA==" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/webskill01" target="_blank" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="f-info-brand">&copy; WanderLust Private Limited</div>
      <div class="f-info-links">
        <a href="/policy">Policy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </footer>
  