<link rel="stylesheet" href="/css/navbar.css">
  
<div class="mainnavbar">
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top mb-2 custom-navbar">
  <div class="container-fluid align-items-center justify-content-between">
    
    <!-- Brand -->
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Search bar: always visible -->
    <form class="d-flex flex-grow-1 mx-2 search-form" action="/listings" method="GET" role="search">
      <input class="form-control me-2 search-input" type="search" name="q" placeholder="Search listings" aria-label="Search" />
      <button class="btn btn-outline search-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i> <span class="d-none d-sm-inline">Search</span>
      </button>
    </form>

    <!-- Collapse toggle button -->
    <button class="navbar-toggler nav-toggle-custom" type="button" data-bs-toggle="collapse"
  data-bs-target="#navbarNavCollapse" aria-controls="navbarNavCollapse" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


    <!-- Collapsed menu items -->
    <div class="collapse navbar-collapse collapse-transition mt-md-0" id="navbarNavCollapse">
      <div class="navbar-nav ms-auto text-center">
        <a class="nav-link " href="/listings">Home</a>
        <a class="nav-link navtext" href="/listings/new">Airbnb Your Home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
</div>