<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="alert alert-danger mt-5 col-6 offset-3" role="alert">
        <div>
          <p> <%= message %> </p>
        </div>
      </div>
</div>