  /* Custom search button */
  .search-btn {
    background-color: #ff385c;
    color: white;
    border-radius: 25rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    white-space: nowrap;
  }
  .search-btn:hover {
    background-color: #ff385c;
    color: white;
  }
  .nav-link:hover{
    font-weight: 700;
  }
  .navtext{
    width: 160px;
  }
  
  /* Custom search input */
  .search-input {
    padding: 0.5rem 1rem;
    border-radius: 25px;
  }
  
  /* Responsive Search bar shrink */
  .search-form {
    max-width: 500px;
  }
  
  @media (max-width: 768px) {
    .search-form {
      max-width: 100%;
    }
    .navtext{
    width: auto;
  }
    .search-input {
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
    }
    .search-btn {
      font-size: 0.85rem;
      padding: 0.4rem 0.75rem;
    }
  }
  
  /* Smooth collapse animation */
  .collapse-transition {
    transition: max-height 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
  }
  .collapsing {
    max-height: 0;
    opacity: 0;
  }
  .collapse.show {
    max-height: 400px;
    background-color: #fff;
    opacity: 1;
  }
  @media (max-width: 400px) {
  /* Force search bar to next line and make it smaller */
  .search-form {
    flex-direction: column;
    align-items: stretch;
    margin-top: 1.5rem;
    width: 100%;
    gap: 0.5rem;
  }
  .navtext{
    width: auto;
  }

  .search-input {
    padding: 0.4rem 0.75rem;
    font-size: 0.85rem;
  }

  .search-btn {
    padding: 0.4rem 0.75rem;
    font-size: 0.85rem;
    justify-content: center;
  }


  .navbar-brand {
    flex-shrink: 0;
  }

  @media (max-width: 360px) {
  .search-btn span {
    display: none;
  }
  .navbar{
    height: 9rem;
  }
}
/* Only on small screens */
@media (max-width: 768px) {
  .nav-toggle-custom {
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    z-index: 10;
  }
  .navbar{
    height: 9rem;
  }
  .navtext{
    width: auto;
  }
  .navbar-brand {
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    z-index: 10;
  }

  .container-fluid {
    position: relative;
    padding-top: 2.5rem; /* make space for brand + toggle */
  }

  .search-form {
    margin-top: 1.25rem;
    width: 100%;
    gap: 0.5rem;
  }
}
}